* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 300;
}

html {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #d89cf6;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

form.create-post {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-post input,
form.create-post textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background: #d89cf6;
}
form.create-post button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #d89cf6;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}


form {
  padding: 5%;
  margin: auto;
  position: relative;
  background-color: #be9fe1;
  border: 1px solid rgba(252, 252, 252, 0.4);
  border-radius: 25px;
}

form input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: white;
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;

  font-weight: 300;
}

form button[type="submit"] {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #50a3a2;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}

img {
  position: relative;
  width: 100%;
  height:100%;
}

.signUp {
  margin-top: 20px;
  text-align: center;
  margin-top: 10px;
  background-color: #FFF;
}

.member {
  margin-top:20px;
  margin-bottom: 0;
  text-align: center;

}

.row {
  width: 100%;
  height: 100%;
}

.post {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.post h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.post p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.post button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #d89cf6;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}



.left {
  background-color: #e1f2fb;
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100%;
}

.right {
  background-color: #deddfa;
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100%;
}

.login {
  background: #d89cf6;
}


.home-image {
  padding: 30% 5%;
}
